<a href="https://colab.research.google.com/github/AnupalReddy/intro_PANDAS_COMPANDS/blob/main/pandas_intro_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following code is in R. If you are using a Python kernel, you will need to switch to an R kernel or use a library like `rpy2` to execute it.

In [71]:
# Read the CSV file
df <- read.csv("/content/sample_data/mnist_train_small.csv")

# Display the structure of the data frame
print(str(df))

# Display the first few rows of the data frame
print(head(df))

NameError: name 'read' is not defined

In [ ]:
# Calculate the median of the 'gmat' column
median_gmat <- median(df$gmat, na.rm = TRUE)

# Print the median
print(paste("The median of the gmat column is:", median_gmat))

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('mba.csv')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
# to display last 5 records in the dataset
df.tail()

In [ ]:
df.columns

In [ ]:
df.shape

In [72]:
df.dtypes

Employee id       int64
Employee name    object
montly salary     int64
dtype: object

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee id    5 non-null      int64
 1   Employee name  5 non-null      object
 2   montly salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [74]:
pd.set_option('display.max_rows',None)

In [75]:
df

   Employee id  Employee name  montly salary
0          101   Ankit Sharma          45000
1          102  Priynka singh          85000
2          103    Rohan Mehta          40000
3          104   Geetha patel          60000
4          105   Vishal kumar          35000

In [76]:
# to check for null values
df.isnull().sum()

Employee id      0
Employee name    0
montly salary    0
dtype: int64

In [77]:
df.describe(include='all')

        Employee id Employee name  montly salary
count      5.000000             5       5.000000
unique          NaN             5            NaN
top             NaN  Ankit Sharma            NaN
freq            NaN             1            NaN
mean     103.000000           NaN   53000.000000
std        1.581139           NaN   20186.629238
min      101.000000           NaN   35000.000000
25%      102.000000           NaN   40000.000000
50%      103.000000           NaN   45000.000000
75%      104.000000           NaN   60000.000000
max      105.000000           NaN   85000.000000

In [78]:
df.mean(numeric_only=True)

Employee id        103.0
montly salary    53000.0
dtype: float64

In [79]:
df['Employee id'].mean()

np.float64(103.0)

In [80]:
df['Employee id'].median()

103.0

In [81]:
df['montly salary'].mode()

0    35000
1    40000
2    45000
3    60000
4    85000
Name: montly salary, dtype: int64

In [82]:
df[['Employee id','montly salary']].mean()

Employee id        103.0
montly salary    53000.0
dtype: float64

In [83]:
df['Employee id'].var()

2.5

In [84]:
df['Employee id'].std()

1.5811388300841898

In [85]:
df['Employee id'].skew()

np.float64(0.0)

In [86]:
df['montly salary'].max()-df['montly salary'].min()

50000

In [87]:
df['montly salary'].count()

np.int64(5)

In [88]:
df['montly salary'].value_counts()

montly salary
45000    1
85000    1
40000    1
60000    1
35000    1
Name: count, dtype: int64

In [90]:
df.head()

   Employee id  Employee name  montly salary
0          101   Ankit Sharma          45000
1          102  Priynka singh          85000
2          103    Rohan Mehta          40000
3          104   Geetha patel          60000
4          105   Vishal kumar          35000

In [94]:
df.iloc[0:3,0:2]

   Employee id  Employee name
0          101   Ankit Sharma
1          102  Priynka singh
2          103    Rohan Mehta

In [103]:
df.groupby('montly salary')[['Employee id','Employee name']].mean(numeric_only=True)

               Employee id
montly salary
35000                105.0
40000                103.0
45000                101.0
60000                104.0
85000                102.0